PORT=3000
NODE_ENV=development
EXTERNAL_API_URL=https://api.coingecko.com/api/v3
EXTERNAL_API_TIMEOUT_MS=8000
EXTERNAL_DATA_LIMIT=5
SQLITE_PATH=./db/backend-node.sqlite
AZURE_STORAGE_ACCOUNT_NAME=tu_storage_account
AZURE_STORAGE_CONTAINER=uploads
AZURE_STORAGE_SAS_TOKEN=sv=...
